In [1]:
# Import from Drive
!cp ./drive/MyDrive/Academics/CS4650/Project/train.csv .
!cp ./drive/MyDrive/Academics/CS4650/Project/utils.py .
# !cp ./drive/MyDrive/Academics/CS4650/Project/test.csv .
# !cp ./drive/MyDrive/Academics/CS4650/Project/train_proc.csv .

In [2]:
%load_ext autoreload
%autoreload 2

In [ ]:
# Save to Drive
!cp utils.py ./drive/MyDrive/Academics/CS4650/Project/utils.py
# !cp train_proc.csv ./drive/MyDrive/Academics/CS4650/Project/train_proc.csv

In [ ]:
# !cp ./drive/MyDrive/Academics/CS4650/Project/train.pkl .

In [ ]:
# train_df.to_pickle('./train.pkl')
# !cp train.pkl ./drive/MyDrive/Academics/CS4650/Project/train.pkl

In [ ]:
# !cp test_proc.csv ./drive/MyDrive/Academics/CS4650/Project/test_proc.csv

### First Steps

- Parse data
- Create representations
- Train Naive Bayes on representations

In [3]:
import pandas as pd
import nltk
from nltk.tokenize import word_tokenize
nltk.download('punkt')
nltk.download('stopwords')
import utils
import pickle

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

### Representations
- Bag of Words
- Clustering
- Embedded Representations
- Methinks some sort of embedding with sentence structure

In [4]:
# Raw dataframes
raw_df = pd.read_csv('train.csv')

# test_df = pd.read_csv('test.csv')

In [5]:
# Run to create processed dataframes
# Obtain vocab + UNK
partitionlen = int (.1 * len(raw_df))


# Process tokens
utils.frame_process(raw_df)
# Create training set 90%
main_df = raw_df[0:(9 * partitionlen)].copy()
# Create vocab, translations with training set 
vocab = utils.create_vocab(main_df)
translate, rev_translate = utils.create_translation(vocab)
# with open('saved.pkl', 'wb') as f:
#     pickle.dump([vocab, translate, rev_translate], f)
# Add bag of words, tfidf vectors for training set
utils.frame_counts(main_df, vocab)
idf = utils.idf_vec(main_df)
utils.frame_tfidf(main_df, idf)

with open('saved.pkl', 'wb') as f:
    pickle.dump([vocab, translate, rev_translate, idf], f)

# Pickle dataframe for testset 10%
temp = raw_df[(9*partitionlen):].copy()
test_df = temp
utils.frame_counts(test_df, vocab)
utils.frame_tfidf(test_df, idf)
temp.to_pickle('test_0.pkl')


# Pickle dataframes for 90%
train_dfs = []
for i in range(9):
    start = i * partitionlen
    end = min((i + 1) * partitionlen, len(main_df))
    temp = main_df.iloc[start:end].copy()
    train_dfs.append(temp)
    name = 'train_' + str(i) + '.pkl'
    temp.to_pickle(name)

In [6]:
main_df

            id  ...                                          tfidf_vec
0      id26305  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
1      id17569  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
2      id11008  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
3      id27763  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
4      id12958  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.40056854...
...        ...  ...                                                ...
17608  id02035  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
17609  id02460  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
17610  id02568  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
17611  id19334  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
17612  id22754  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...

[17613 rows x 6 columns]

In [7]:
train_dfs[8]

            id  ...                                          tfidf_vec
15656  id20732  ...  [0.0, 0.502581291393173, 0.0, 0.0, 0.0, 0.0, 0...
15657  id11722  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
15658  id26365  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
15659  id26565  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
15660  id20442  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
...        ...  ...                                                ...
17608  id02035  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
17609  id02460  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
17610  id02568  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
17611  id19334  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
17612  id22754  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...

[1957 rows x 6 columns]

In [8]:
test_df

            id  ...                                          tfidf_vec
17613  id08561  ...  [0.698313753195164, 0.2871893093675274, 0.0, 0...
17614  id01432  ...  [1.5040603914972763, 0.0, 0.0, 0.0, 0.0, 0.0, ...
17615  id22037  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
17616  id22330  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
17617  id26151  ...  [0.44438147930601346, 0.0, 0.0, 0.0, 0.0, 0.0,...
...        ...  ...                                                ...
19574  id17718  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
19575  id08973  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
19576  id05267  ...  [2.444098136183074, 0.0, 0.0, 0.0, 0.0, 0.0, 0...
19577  id17513  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
19578  id00393  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...

[1966 rows x 6 columns]

In [10]:
# Save pickles to drive
!cp train_0.pkl ./drive/MyDrive/Academics/CS4650/Project/train_0.pkl
!cp train_1.pkl ./drive/MyDrive/Academics/CS4650/Project/train_1.pkl
!cp train_2.pkl ./drive/MyDrive/Academics/CS4650/Project/train_2.pkl
!cp train_3.pkl ./drive/MyDrive/Academics/CS4650/Project/train_3.pkl
!cp train_4.pkl ./drive/MyDrive/Academics/CS4650/Project/train_4.pkl
!cp train_5.pkl ./drive/MyDrive/Academics/CS4650/Project/train_5.pkl
!cp train_6.pkl ./drive/MyDrive/Academics/CS4650/Project/train_6.pkl
!cp train_7.pkl ./drive/MyDrive/Academics/CS4650/Project/train_7.pkl
!cp train_8.pkl ./drive/MyDrive/Academics/CS4650/Project/train_8.pkl
!cp test_0.pkl ./drive/MyDrive/Academics/CS4650/Project/test_0.pkl
!cp saved.pkl ./drive/MyDrive/Academics/CS4650/Project/saved.pkl

In [ ]:
# # Bag of Words and TFIDF for test
# # Obtain vocab + UNK
# # temp = train_df.head().copy()
# temp = test_df
# utils.frame_process(temp)
# vocab = utils.create_vocab(temp)
# translate, rev_translate = utils.create_translation(vocab)
# # Get counts of words
# utils.frame_counts(temp, vocab)
# # print(temp['bag_vec'])
# # print(len(vocab))
# # len(utils.total_bag_vec(temp))
# # 
# # print(temp['tokens'][0])
# # print(temp['bag_vec'][0])
# # print(vocab)
# idf = utils.idf_vec(temp)
# # print(idf)
# utils.frame_tfidf(temp, idf)
# # print(len(temp['tokens'][0]))
# temp.to_csv('test_proc.csv')
# temp

           id  ...                                          tfidf_vec
0     id02310  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
1     id24541  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
2     id00134  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
3     id27757  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
4     id04081  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
...       ...  ...                                                ...
8387  id11749  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
8388  id10526  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
8389  id13477  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
8390  id13761  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
8391  id04282  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...

[8392 rows x 5 columns]

### Models
- Multinomial Naive Bayes

In [11]:
from sklearn.naive_bayes import MultinomialNB
import numpy as np

In [ ]:
# import pickles from drive
!cp ./drive/MyDrive/Academics/CS4650/Project/train_0.pkl train_0.pkl 
!cp ./drive/MyDrive/Academics/CS4650/Project/train_1.pkl train_1.pkl
!cp ./drive/MyDrive/Academics/CS4650/Project/train_2.pkl train_2.pkl
!cp ./drive/MyDrive/Academics/CS4650/Project/train_3.pkl train_3.pkl
!cp ./drive/MyDrive/Academics/CS4650/Project/train_4.pkl train_4.pkl
!cp ./drive/MyDrive/Academics/CS4650/Project/train_5.pkl train_5.pkl
!cp ./drive/MyDrive/Academics/CS4650/Project/train_6.pkl train_6.pkl
!cp ./drive/MyDrive/Academics/CS4650/Project/train_7.pkl train_7.pkl
!cp ./drive/MyDrive/Academics/CS4650/Project/train_8.pkl train_8.pkl
!cp ./drive/MyDrive/Academics/CS4650/Project/test_0.pkl test_0.pkl
!cp ./drive/MyDrive/Academics/CS4650/Project/saved.pkl saved.pkl

train_dfs = []
for i in range(9):
    name = 'train_' + str(i) + '.pkl'
    train_dfs.append(pd.read_pickle(name))

test_df = pd.read_pickle('test_0.pkl')

In [14]:
train_dfs[0]

           id  ...                                          tfidf_vec
0     id26305  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
1     id17569  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
2     id11008  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
3     id27763  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
4     id12958  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.40056854...
...       ...  ...                                                ...
1952  id05165  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
1953  id15764  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
1954  id12273  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
1955  id06119  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
1956  id06335  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...

[1957 rows x 6 columns]

In [15]:
test_df

            id  ...                                          tfidf_vec
17613  id08561  ...  [0.698313753195164, 0.2871893093675274, 0.0, 0...
17614  id01432  ...  [1.5040603914972763, 0.0, 0.0, 0.0, 0.0, 0.0, ...
17615  id22037  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
17616  id22330  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
17617  id26151  ...  [0.44438147930601346, 0.0, 0.0, 0.0, 0.0, 0.0,...
...        ...  ...                                                ...
19574  id17718  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
19575  id08973  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
19576  id05267  ...  [2.444098136183074, 0.0, 0.0, 0.0, 0.0, 0.0, 0...
19577  id17513  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
19578  id00393  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...

[1966 rows x 6 columns]

In [25]:
authors = {'EAP': 0, 'HPL': 1, 'MWS': 2}
train_labels_list = []
for train_df in train_dfs:
    train_labels_list.append(np.array([authors[a] for a in train_df['author'].tolist()]))
test_labels = np.array([authors[a] for a in test_df['author'].tolist()])

train_bow_list = []
for train_df in train_dfs:
    train_bow_list.append(train_df['bag_vec'].tolist())
test_bow = np.array(test_df['bag_vec'].tolist())

train_tfidf_list = []
for train_df in train_dfs:
    train_tfidf_list.append(train_df['tfidf_vec'].tolist())
test_tfidf = np.array(test_df['tfidf_vec'].tolist())

In [31]:
def accuracy(output, labels):
    true_indices = np.argwhere(output == labels)
    acc = len(true_indices) / len(labels)
    return acc

In [26]:
# Bag of Words
bow_clf = MultinomialNB()

for i in range(len(train_bow_list)):
    bow_clf.partial_fit(train_bow_list[i], train_labels_list[i], classes=range(3))

In [27]:
print(len(train_bow_list), len(train_labels_list))

9 9

In [28]:
out = bow_clf.predict(test_bow)

In [32]:
accuracy(out, test_labels)

0.8402848423194303

In [36]:
# TF-IDF
tfidf_clf = MultinomialNB()

for i in range(len(train_tfidf_list)):
    tfidf_clf.partial_fit(train_tfidf_list[i], train_labels_list[i], classes=range(3))

In [37]:
out2 = tfidf_clf.predict(test_tfidf)

In [38]:
accuracy(out2, test_labels)

0.8301119023397762

In [41]:
# Random
randomn = np.random.randint(0, 3, size=len(test_labels))
accuracy(randomn, test_labels)

0.3336724313326551